* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Metropolis", sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: solid 2px #121212 16px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.btn-primary {
  font-weight: 700;
  white-space: nowrap;
  background-color: #ff5634;
  border: 1px solid #ff5634;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e13f1f;
}

body {
  background-color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .container {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  padding: 32px 24px;
  box-shadow: 0 3px 12px rgba(18, 18, 18, 0.06);
}
header .container .flex-container {
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .container .flex-container .logo {
  margin-right: 30px;
  display: flex;
  transition: 0.3s;
}
header .container .flex-container .logo:hover {
  scale: 0.95;
}

.header-right {
  display: flex;
  align-items: center;
}
.header-right .nav {
  display: flex;
  align-items: center;
}
.header-right .nav li {
  font-size: 16px;
}
.header-right .nav li a {
  font-weight: 500;
  padding: 0 13px;
  white-space: nowrap;
  color: #121212;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-right .nav li a i {
  font-size: 12px;
  transition: 0.3s;
}
.header-right .nav li a:hover i {
  transform: rotate(-180deg);
}
.header-right .nav li a:hover,
.header-right .nav li a.active {
  color: #ff5634;
}
.header-right .cart {
  margin-left: 13px;
  font-weight: 500;
  position: relative;
}
.header-right .pages {
  position: relative;
  padding: 12px 0;
  display: inline;
}
.header-right .floating-cart {
  position: absolute;
  padding: 60px 40px;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(16, 16, 16, 0.08);
  border-radius: 24px;
  top: 38px;
  left: -220px;
  display: none;
  gap: 60px;
  opacity: 0;
  margin-top: 50px;
  transition: 3s;
}
.header-right .floating-cart .heading {
  font-size: 20px;
  color: #121212;
  line-height: 1.1em;
  margin-bottom: 40px;
}
.header-right .floating-cart .utility-pages ul {
  flex-direction: column;
  gap: 18px;
}
.header-right .floating-cart ul {
  display: flex;
  gap: 18px;
}
.header-right .floating-cart ul div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.header-right .floating-cart li {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.111em;
  color: #656565;
  white-space: nowrap;
}
.header-right .floating-cart li a {
  transition: 0.3s;
  padding: 0;
}
.header-right .floating-cart li a:hover {
  color: #ff5634;
}
.header-right .floating-cart li.browse-more-templates a {
  color: #ff5634;
  border-bottom: 3px solid #ff5634;
  transition: 0.3s;
  display: block;
  padding-bottom: 6px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.111rem;
}
.header-right .floating-cart li.browse-more-templates a:hover {
  color: #121212;
  border-bottom-color: #121212;
}
.header-right .pages:hover .floating-cart {
  display: flex;
  animation: fade-up-in 0.3s forwards;
}
.header-right .pages:hover > a {
  color: #ff5634;
}
.header-right .pages:hover > a i {
  transform: rotate(-180deg);
}
@keyframes fade-up-in {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.header-right .buttons {
  display: flex;
  align-items: center;
  margin-left: 32px;
}
.header-right .buttons div a {
  transition-property: color, border-color, background-color;
  border-radius: 12px;
  transition-duration: 0.3s;
  padding: 18px 24px;
  line-height: 1.125rem;
}
.header-right .buttons .download-app-btn a {
  margin-right: 18px;
  border: solid 1px #ededed;
  box-shadow: 0 2px 6px rgba(16, 16, 16, 0.04);
  white-space: nowrap;
  font-weight: 500;
}
.header-right .buttons .download-app-btn a:hover {
  color: #fff;
  background-color: #ff5634;
  border-color: #ff5634;
}
.header-right .buttons .register-btn {
  display: block;
}
.header-right .menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  height: 38px;
  background-color: transparent;
  border: none;
}
.header-right .menu-btn div {
  width: 30px;
  height: 4px;
  background-color: black;
}
.header-right .menu-btn div:nth-child(2) {
  width: 20px;
}

.mobile-nav {
  left: 0;
  z-index: 5;
  top: -100vh;
  transition: 0.4s;
  height: 90vh;
  width: 100vw;
  background-color: #fff;
  display: none;
  padding: 60px 24px;
}
.mobile-nav ul {
  flex-direction: column;
  gap: 30px;
}
.mobile-nav ul a {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.3s;
  color: #121212;
}
.mobile-nav ul a i {
  transition: 0.3s;
  font-size: 20px;
}
.mobile-nav ul a:hover,
.mobile-nav ul a.active {
  color: #ff5634;
}
.mobile-nav ul a:hover i,
.mobile-nav ul a.active i {
  transform: rotate(180deg);
}
.mobile-nav .mobile-nav.show {
  top: 96px;
}
.mobile-nav .get-started-btn {
  margin-top: auto;
  padding: 26px 38px;
  border-radius: 16px;
  background-color: #ff5634;
  border: #ff5634;
  transition: 0.3s;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.mobile-nav .get-started-btn:hover {
  border: #e13f1f;
  background-color: #e13f1f;
}

.hero {
  max-width: 1270px;
  margin-top: 70px;
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: auto;
  margin-top: 112px;
  padding: 70px 24px 106px 24px;
}
.hero .text-container {
  display: grid;
  gap: 28px;
  grid-template-columns: 1.25fr 1fr;
  align-items: center;
}
.hero .text-container .text h2 {
  font-size: 18px;
  color: #ff5634;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
}
.hero .text-container .text h1 {
  color: rgb(18, 18, 18);
  font-weight: 700;
  font-size: 62px;
  margin-bottom: 16px;
  line-height: 1.162em;
}
.hero .text-container .text p {
  line-height: 1.667em;
  font-size: 18px;
  color: #656565;
  max-width: 590px;
  margin: auto;
}
.hero .text-container .images {
  position: relative;
}
.hero .text-container .images :nth-child(2) {
  position: absolute;
  bottom: 88px;
  left: -18px;
  max-width: 45%;
  box-shadow: 0 14px 42px rgba(16, 16, 16, 0.14);
  border-radius: 16px;
}
.hero .text-container .images :nth-child(3) {
  position: absolute;
  bottom: 46px;
  right: -52px;
  border-radius: 8px;
  box-shadow: 0 14px 42px rgba(16, 16, 16, 0.14);
}
.hero .stats-container {
  display: flex;
  justify-content: space-between;
  color: #121212;
}
.hero .stats-container .stat {
  font-size: 56px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .stats-container .stat p:first-child {
  margin-bottom: 6px;
  font-weight: 700;
}
.hero .stats-container .stat p:first-child span {
  color: #ff5634;
}
.hero .stats-container .stat :nth-child(2) {
  color: #656565;
  font-weight: 500;
  font-size: 18px;
}

section.about-the-company {
  padding: 166px 0;
  background-color: #fff;
}

section.about,
section.mission,
section.journey {
  max-width: 1270px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 0 24px;
}
section.about div,
section.mission div,
section.journey div {
  flex: 1;
}
section.about .image,
section.mission .image,
section.journey .image {
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 14px 42px rgba(16, 16, 16, 0.14);
}
section.about .text .container,
section.mission .text .container,
section.journey .text .container {
  max-width: 480px;
  margin-left: auto;
}
section.about .text h2,
section.mission .text h2,
section.journey .text h2 {
  font-size: 18px;
  color: #ff5634;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
section.about .text h3,
section.mission .text h3,
section.journey .text h3 {
  color: #121212;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.227em;
  margin-bottom: 16px;
}
section.about .text h3 span,
section.mission .text h3 span,
section.journey .text h3 span {
  white-space: nowrap;
}
section.about .text p,
section.mission .text p,
section.journey .text p {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}

section.about {
  margin-bottom: 100px;
}

section.mission .text .container {
  margin-left: 0;
  max-width: 533px;
}

section.journey {
  padding: 166px 24px;
  align-items: start;
}
section.journey .text {
  position: sticky;
  top: 160px;
}
section.journey .text .container {
  max-width: 520px;
  margin-left: 0;
}
section.journey .text p {
  margin-bottom: 48px;
}
section.journey .text button {
  padding: 26px 38px;
  border-radius: 16px;
  font-size: 18px;
}
section.journey .milestones {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section.journey .milestones .milestone {
  padding: 60px 53px;
  border-radius: 24px;
  box-shadow: 0 2px 16px rgba(16, 16, 16, 0.08);
  background-color: #fff;
}
section.journey .milestones .milestone h4 {
  font-size: 22px;
  color: #ff5634;
  font-weight: 700;
  line-height: 1.273em;
  margin-bottom: 12px;
}
section.journey .milestones .milestone h3 {
  font-size: 24px;
  color: #121212;
  font-weight: 700;
  line-height: 1.417em;
  margin-bottom: 32px;
}
section.journey .milestones .milestone p {
  font-size: 18px;
  color: #656565;
  font-weight: 400;
  line-height: 1.667em;
}

section.partners,
section.press-and-news {
  text-align: center;
  background-color: #fff;
  padding: 166px 24px;
}
section.partners .container,
section.press-and-news .container {
  max-width: 1270px;
  margin: auto;
}
section.partners .container .heading,
section.press-and-news .container .heading {
  max-width: 700px;
  margin: auto;
  margin-bottom: 110px;
}
section.partners .container .heading h3,
section.press-and-news .container .heading h3 {
  color: #ff5634;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.667em;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
section.partners .container .heading h2,
section.press-and-news .container .heading h2 {
  color: rgb(18, 18, 18);
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 16px;
  line-height: 1.227em;
}
section.partners .container .heading h2 span,
section.press-and-news .container .heading h2 span {
  white-space: nowrap;
}
section.partners .container .heading p,
section.press-and-news .container .heading p {
  line-height: 1.667em;
  font-size: 18px;
  font-weight: 400;
  color: #656565;
}
section.partners .container .flex-container,
section.press-and-news .container .flex-container {
  display: flex;
  justify-content: space-between;
  gap: 80px 28px;
}
section.partners .container .flex-container .flex-item img,
section.press-and-news .container .flex-container .flex-item img {
  margin-bottom: 32px;
}
section.partners .container .flex-container .flex-item h3,
section.press-and-news .container .flex-container .flex-item h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.429em;
  margin-bottom: 16px;
  color: #121212;
}
section.partners .container .flex-container .flex-item p,
section.press-and-news .container .flex-container .flex-item p {
  line-height: 1.667em;
  font-size: 18px;
  font-weight: 400;
  color: #656565;
}

section.press-and-news {
  background-color: transparent;
}
section.press-and-news .container .heading {
  max-width: 620px;
}
section.press-and-news .container .review-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}
section.press-and-news .container .review-articles .article {
  padding: 98px 66px;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(16, 16, 16, 0.08);
  border-radius: 24px;
  text-align: left;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
section.press-and-news .container .review-articles .article img {
  margin-bottom: 26px;
}
section.press-and-news .container .review-articles .article h4 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.429em;
  color: #121212;
}
section.press-and-news .container .review-articles .article .bottom-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.press-and-news .container .review-articles .article .bottom-flex p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  color: #ff5634;
  font-weight: 700;
}
section.press-and-news .container .review-articles .article .bottom-flex p i {
  transform: rotate(45deg);
  transition: 0.3s;
}
section.press-and-news .container .review-articles .article .bottom-flex .date {
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 500;
  color: #656565;
}
section.press-and-news .container .review-articles .article:hover {
  box-shadow: 0 6px 24px rgba(16, 16, 16, 0.14);
  transform: translate3d(0, -5px, 0.01px);
}
section.press-and-news .container .review-articles .article:hover p i {
  transform: translate(3px, -3px) rotate(45deg);
}

footer {
  background-color: #fff;
  border-top: 1px solid #cacaca;
}
footer .container {
  max-width: 1270px;
  margin: auto;
  padding: 0 24px;
}
footer .container .download-app {
  border-bottom: 1px solid #cacaca;
  padding: 70px 0 83px;
  display: flex;
  align-items: center;
}
footer .container .download-app .text {
  flex: 1;
}
footer .container .download-app .text a.logo {
  width: 200px;
  display: block;
  margin-bottom: 24px;
  transition: scale 0.3s;
}
footer .container .download-app .text a.logo img {
  width: 100%;
}
footer .container .download-app .text a.logo:hover {
  scale: 0.95;
}
footer .container .download-app .text p {
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  color: #656565;
}
footer .container .download-app .buttons {
  display: flex;
  gap: 26px;
}
footer .container .download-app .buttons a {
  padding: 20px 20px 20px 15px;
  border: solid 1px #ff5634;
  border-radius: 14px;
  font-size: 16px;
  line-height: 1.375em;
  display: flex;
  align-items: center;
}
footer .container .download-app .buttons a i {
  font-size: 24px;
  margin: 0 10px 0 5px;
}
footer .container .nav-section {
  padding: 100px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 50px;
}
footer .container .nav-section .heading {
  font-size: 20px;
  color: #121212;
  line-height: 1.1em;
  margin-bottom: 40px;
}
footer .container .nav-section .menu ul {
  display: flex;
  gap: 40px;
}
footer .container .nav-section li {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
  line-height: 1.111em;
  color: #656565;
  white-space: nowrap;
}
footer .container .nav-section li a {
  transition: 0.3s;
}
footer .container .nav-section li a:hover {
  color: #ff5634;
}
footer .container .nav-section li.browse-more-templates a {
  color: #ff5634;
  border-bottom: 3px solid #ff5634;
  transition: 0.3s;
  display: block;
  padding-bottom: 6px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 1.111rem;
}
footer .container .nav-section li.browse-more-templates a:hover {
  color: #121212;
  border-bottom-color: #121212;
}
footer .container .nav-section .available-in ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 13px 29px;
}
footer .container .nav-section .available-in ul li {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #121212;
  white-space: wrap;
  margin-bottom: 0;
}
footer .container .nav-section .available-in ul li img {
  width: 78px;
  margin-right: 18px;
  border-radius: 24px;
}
footer .container .copyright {
  padding: 32px 0;
  font-size: 18px;
  border-top: 1px solid #ededed;
  text-align: center;
  line-height: 1.667em;
  color: #656565;
}
footer .container .copyright a {
  color: #ff5634;
  transition: color 0.3s;
}
footer .container .copyright a:hover {
  color: #121212;
}

.webflow-logo {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 6px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (max-width: 991px) {
  header .container {
    padding: 24px;
  }
  header .container .flex-container .logo {
    max-width: 160px;
  }
  .hero {
    margin-top: 108px;
  }
  .hero .text-container {
    grid-template-columns: 1fr;
    max-width: 680px;
    margin: auto;
    text-align: center;
    gap: 60px;
  }
  .hero .text-container .text h1 {
    font-size: 52px;
  }
  .hero .images {
    max-width: 500px;
    margin: auto;
  }
  .hero .stats-container .stat p:first-child {
    font-size: 48px;
  }
  .header-right .buttons {
    margin-right: 25px;
  }
  .header-right .nav {
    display: none;
  }
  .header-right .menu-btn {
    display: flex;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 60px;
    position: absolute;
  }
  .mobile-nav ul {
    display: flex;
  }
  .mobile-nav ul a {
    font-size: 28px;
  }
  .mobile-nav.show {
    top: 86px;
  }
  section.about,
  section.mission {
    flex-direction: column;
  }
  section.about .text,
  section.mission .text {
    max-width: 680px;
    order: -1;
    width: 100%;
  }
  section.about .text h3,
  section.mission .text h3 {
    font-size: 38px;
    margin: 0 0 12px;
  }
  section.about .text .container,
  section.mission .text .container {
    max-width: 100%;
    margin-left: 0;
  }
  section.about .image,
  section.mission .image {
    max-width: 680px;
  }
  section.journey {
    flex-direction: column;
  }
  section.journey .text {
    max-width: 680px;
    margin: auto;
    position: static;
  }
  section.journey .text .container {
    max-width: 100%;
  }
  section.journey .text h3 {
    font-size: 38px;
    margin-bottom: 12px;
  }
  section.journey .milestones {
    margin: auto;
    max-width: 680px;
  }
  section.journey .milestones .milestone {
    padding: 50px 34px;
  }
  section.partners .container .heading h2 {
    font-size: 38px;
  }
  section.partners .container .flex-container {
    max-width: 350px;
    margin: auto;
    flex-direction: column;
    gap: 64px;
  }
  section.partners .container .flex-container .flex-item img {
    margin-bottom: 24px;
  }
  section.press-and-news {
    max-width: 680px;
    margin: auto;
    padding: 138px 0;
  }
  section.press-and-news .container {
    padding: 0;
  }
  section.press-and-news .container .heading h2 {
    font-size: 38px;
  }
  section.press-and-news .container .review-articles {
    grid-template-columns: 1fr;
  }
  section.press-and-news .container .review-articles .article {
    padding: 68px 53px;
  }
  section.press-and-news .container .review-articles .article .bottom-flex .date {
    font-size: 18px;
  }
  footer .container .download-app {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  footer .container .nav-section .available-in ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  header .container .flex-container .logo {
    max-width: 148px;
  }
  .header-right .buttons {
    display: none;
  }
  .header-right .cart {
    margin-right: 32px;
  }
  .hero {
    padding: 60px 24px 73px 24px;
    margin-top: 96px;
  }
  .hero .text-container {
    gap: 50px;
  }
  .hero .text-container .text h2 {
    font-size: 16px;
    margin-bottom: 22px;
  }
  .hero .text-container .text h1 {
    font-size: 43px;
    margin-bottom: 10px;
  }
  .hero .text-container .text p {
    font-size: 16px;
    max-width: 590px;
    margin: auto;
  }
  .hero .stats-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    gap: 40px;
    width: fit-content;
  }
  .hero .stats-container .stat p:first-child {
    font-size: 40px;
    margin-bottom: 6px;
    line-height: 1.179em;
  }
  .hero .stats-container .stat p:nth-child(2) {
    font-size: 16px;
  }
  section.about .text h2,
  section.mission .text h2,
  section.journey .text h2 {
    font-size: 16px;
  }
  section.about .text h3,
  section.mission .text h3,
  section.journey .text h3 {
    font-size: 32px;
  }
  section.about .text p,
  section.mission .text p,
  section.journey .text p {
    font-size: 16px;
  }
  section.journey .text h3 {
    max-width: 400px;
  }
  section.journey .text p {
    margin-bottom: 40px;
  }
  section.journey .text button {
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }
  section.journey .milestones .milestone h4 {
    font-size: 20px;
  }
  section.journey .milestones .milestone h3 {
    font-size: 22px;
    margin-bottom: 24px;
  }
  section.journey .milestones .milestone p {
    font-size: 16px;
  }
  section.partners .container .heading h3 {
    font-size: 16px;
  }
  section.partners .container .heading h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  section.partners .container .heading p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  section.partners .container .flex-container .flex-item img {
    max-width: 182px;
  }
  section.partners .container .flex-container .flex-item h3 {
    font-size: 23px;
  }
  section.partners .container .flex-container .flex-item p {
    font-size: 16px;
  }
  section.press-and-news .container .heading {
    margin-bottom: 48px;
  }
  section.press-and-news .container .heading h3 {
    font-size: 16px;
  }
  section.press-and-news .container .heading h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  section.press-and-news .container .review-articles .article {
    padding: 58px 34px;
  }
  section.press-and-news .container .review-articles .article h4 {
    font-size: 23px;
  }
  footer .container .download-app {
    gap: 30px;
  }
  footer .container .download-app .buttons {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    gap: 20px;
  }
  footer .container .download-app .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .container .download-app .text a.logo {
    margin-bottom: 20px;
  }
  footer .container .nav-section {
    grid-template-columns: 1fr 1fr;
  }
  footer .container .nav-section .heading {
    font-size: 18px;
    margin-bottom: 30px;
  }
  footer .container .nav-section a {
    width: fit-content;
    font-size: 16px;
  }
  footer .container .nav-section .available-in {
    grid-column: span 2;
  }
  footer .container .nav-section .available-in ul {
    grid-template-columns: auto 1fr;
  }
  footer .container .nav-section .available-in ul li img {
    max-width: 60px;
    border-radius: 10px;
  }
  footer .container .copyright {
    font-size: 16px;
  }
}
@media screen and (max-width: 479px) {
  header .container {
    padding: 24px 20px;
  }
  .hero {
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .text-container .text h1 {
    font-size: 36px;
  }
  .hero .stats-container .stat p:first-child {
    font-size: 33px;
  }
  .logo {
    width: 123px;
  }
  .header-right .cart {
    margin-right: 20px;
    font-size: 16px;
  }
  section.about,
  section.mission,
  section.journey {
    padding: 0 20px;
  }
  section.about .text h3,
  section.mission .text h3,
  section.journey .text h3 {
    font-size: 28px;
  }
  section.journey {
    padding: 96px 20px;
  }
  section.journey .milestones .milestone {
    padding: 42px 25px;
  }
  section.journey .text button {
    width: 100%;
  }
  section.partners {
    padding: 96px 20px;
  }
  section.partners .container .heading h2 {
    font-size: 28px;
  }
  section.partners .container .flex-container .flex-item img {
    max-width: 150px;
  }
  section.partners .container .flex-container .flex-item h3 {
    margin-bottom: 8px;
  }
  section.press-and-news .container {
    padding: 0 20px;
  }
  section.press-and-news .container .review-articles .article {
    padding: 48px 25px;
  }
  section.press-and-news .container .review-articles .article h4 {
    font-size: 23px;
  }
  section.press-and-news .container .review-articles .article .bottom-flex {
    flex-flow: column-reverse;
    align-items: start;
    gap: 10px;
  }
  footer .container {
    padding: 0 20px;
  }
  footer .container .download-app {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  footer .container .download-app .text a.logo {
    max-width: 138px;
    margin-bottom: 15px;
  }
  footer .container .download-app .text p {
    font-size: 16px;
  }
  footer .container .nav-section {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
  }
  footer .container .nav-section .available-in ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-bottom: 127px;
  }
}